* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.title-font.sm\:text-4xl.text-3xl.mb-4.font-medium.text-gray-900 {
  margin: 50px 0 0 0;
  float: none;
  display: flex;
  justify-content: center;
}
.lg\:w-2-6.md\:w-3-6.w-5-6.mb-10.object-cover.object-center.rounded {
  width: 1287px;
  height: 448.12746997070315px;
}
.heading {
  display: flex;
  justify-content: center;
  margin: 0 0 40px 0;
}
#ikw2j {
  margin: 0px 14.3948px 0px 28.7996px;
  padding: 0px;
  width: 436.796px;
  float: left;
  color: rgb(0, 0, 0);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
}
#ilmrk {
  color: rgb(75, 85, 99);
  font-size: medium;
  text-align: justify;
}
#iu40n {
  color: rgb(75, 85, 99);
  font-size: medium;
  text-align: justify;
}
#ifx2l {
  color: rgb(75, 85, 99);
  font-size: medium;
  text-align: justify;
}
#iy52b {
  text-align: justify;
}
#id67w {
  color: rgb(17 24 39 / var(--tw-text-opacity));
  font-size: 1.5rem;
}
